/* z-index table
#load_screen: 10
#home_screen: 5
*/


html, body {
	margin: 0;
	position: relative;
}

body * {
	font-family: sans-serif;
	user-select: none;
}

p {
	margin: 0;
}

button {
	cursor: pointer;
}

#load_screen {
	width: 100vw;
	height: 100vh;
	background-color: black;
	position: fixed;
	z-index: 10;
}

/* home screen ----------------------------------------------------*/
#home_screen {
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: lightblue;
	position: fixed;
	z-index: 5;
}

#home_screen * {
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	position: absolute;
}

#home_screen h1 {
	top: 10px;
}

#player_display {
	background-color: white;
	width: 80vw;
	height: 20vh;
	top: 60vh;
}

#player_display div { /*divs will be added to the player display wrapper div as players join*/
	position: relative;
	width: 100px;
	border: 1px solid gray;
	padding: 5px;
	display: inline-block;
	margin: 10px;
}

#start_game_button {
	width: 200px;
	font-size: 24px;
	top: 85vh;
}




/* game ------------------------------------------------------*/

#canvas {
	margin-top: 8px;
	margin-left: 8px;
	border: 1px solid black;
	position: static;
	display: inline-block;
}

#health_bars {
	margin-top: 8px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.health_bar {
	border: 5px solid gold;
	background-color: orange;
	width: 75px;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	margin: 3px;
}

.health_bar img {
	height: 40px;
	display: block;
	margin: auto;
}

.health_bar .hat_display {
	margin-bottom: 20px;
}

.health_bar img.heart {
	margin-top: 10px;
}

#new_game_button, #clear_game_button {
	display: inline-block;
	margin: 5px;
}
